/* Estilos para la página de inicio de sesión */

.left-img {
  /* Define el tamaño y estilo de la imagen de fondo */
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  background-color: white;
  height: 100%;
  margin-left: 80px;
}

.auth-container {
  /* Estilo de contenedor de autenticación */
  background-color: white;
}
